/**************************GENERALITIES***************************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    color: var(--white);
}

:root {
    font-size: 62.5%;
    --grey: #ddd;
    --white: #fff;
    --dark: #0C0711;
    --blue: #021027;
    --purple: #794985;
    --lightPurple: #CA93B4;
    --font: 'Open Sans', sans-serif;
    --font-size-default: 1.8rem;
    --font-size-h1: 3.6rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2.5rem;
    scroll-behavior: smooth;
}

h1 {
    font-size: var(--font-size-h1);
    text-align: center;
    z-index: 1000;

}

h2 {
    font-size: var(--font-size-h2);
    padding: 10rem 0 2rem 0;
    text-align: center;

}

h3 {
    font-size: var(--font-size-h3);

}

html {
    height: 100%; /* Garde la hauteur de l'html à 100% de la fenêtre */
    margin: 0;
    padding: 0;
}
body {
    font-size: var(--font-size-default);
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
    line-height: 2;
    min-height: 100vh; /* Assurez-vous que le body prend au moins la hauteur de la fenêtre */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}


.background {
    background: url(../img/background-portfolio.jpg) repeat center/cover;
    opacity: 1;
}

.background-cosmos {
    background: url(../img/cosmos.jpg) repeat center/cover;
    opacity: 1;
}

img {
    height: auto;
    width: 80%;
    object-fit: cover;
    text-align: center;
    margin: 0 auto;
    opacity: 1;
}

#background-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

p,
ul {
    padding: 0;
    margin: 0;
}

h2,
h3,
h4,
h5,
h6,
p {
    padding-right: 2rem;
    padding-left: 2rem;
    opacity: 1;
}

.taCenter {
    text-align: center;
}


/**************************UTILITIES***************************************/

.flex {
    display: flex;
}

.flexColumn {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-space-around {
    justify-content: space-around;
}

.jc-space-evenly {
    justify-content: space-evenly;
}

.jc-space-center {
    justify-content: center;
}

.jc-end {
    justify-content: flex-end;
}

.ai-center {
    align-items: center;
}

.ai-end {
    align-items: end;
}

.inlineBlock {
    display: inline-block;
}

.textCenter {
    text-align: center;
}

.padding {
    padding: 2rem 1rem;
}

a {
    text-decoration: none;
}

/**************************HEADER***************************************/

/***HEADER NAV***/

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 1rem;
}

nav i {
    font-size: 3rem;
}

/***Hover NAV***/

nav i:hover {
    color: var(--lightPurple);
}




nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: relative;
}

.nav-list {
    display: flex;
    list-style: none;
    opacity: 1;
}

.nav-list li {
    margin-left: 3rem;
}

.nav-list li a {
    text-decoration: none;
    color: var(--white);
}

.active i {
    color: var(--purple);
    font-size: 4rem;
}

#burger-toggle,
.burger {
    display: none;
}

/***Button***/

.button {
    border: .1rem solid var(--purple);
    border-radius: 1rem;
    color: var(--white);
    background-color: var(--dark);
    text-decoration: none;
    text-align: center;
    padding: 1rem 2rem;
    margin: 2rem;
    width: 40%;
    transition: all .3s ease-in-out;
    opacity: 1
}

.button:hover {
    background-color: var(--purple);
    border: .1rem solid var(--lightPurple);
    color: var(--white);

}

/**************************MAIN************************************/
main {
    flex: 1;  /* Permet à main de prendre tout l'espace disponible, poussant le footer vers le bas */
    min-height: 0;  /* Important pour les navigateurs qui gèrent mal flexbox avec des overflow */
}

/*********Skills********************/

.skills {
    width: 100%;
    opacity: .8;
}

.skills li {
    list-style-type: none;
    width: 33.33%;


}

.skills li ul li {
    width: 100%;
    display: block;
    padding: 1rem 3rem;
}

.skills li p {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.cv {
    padding-bottom: 2rem; 
    text-align: center;
}

.cv i {
    font-size: 5rem;
    color: var(--white);
}

.cv i:hover {
    color: var(--grey);
}

/*********Works********************/

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, calc((100% - 3rem) / 4)));
    /* Définit les colonnes de la grille. 'repeat(auto-fit, ...)' crée autant de colonnes que possible en fonction de la largeur disponible du conteneur. Chaque colonne aura une largeur minimale de 150px et une largeur maximale calculée pour permettre un maximum de quatre colonnes par ligne. La fonction 'calc((100% - 3rem) / 4)' calcule la largeur maximale de chaque colonne en soustrayant la largeur totale des espacements ('gap') entre les colonnes (ici 3rem pour trois gaps de 1rem chacun) et en divisant le reste par quatre, garantissant ainsi que pas plus de quatre colonnes ne puissent être affichées si l'espace le permet, tout en maintenant une présentation responsive. */
    gap: 1rem;
    justify-content: center;
    /*auto-fit gere les colonne seul en fonction de la largeur d'ecran*/
    /*la fonction minmax donne la largeur a chaque portion en fonction de la largeur du container mais ne depasse pas 150px*/
}

.grid img {
    max-width: 20rem;
    height: 20rem;
    object-fit: contain;
    filter: blur(0px);
    transition: filter .5s ease-out;
    padding: 3rem;
}

.grid article {
    position: relative;
}

.title {
    font-size: var(--font-size-h3);
    letter-spacing: .4rem;
    position: absolute;
    z-index: 1;
    color: var(--grey);
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-out;
    opacity: 0;
    text-align: center;
    font-weight: bold;
}

.grid article:hover {
    cursor: pointer;
}

.grid article:hover img {
    filter: blur(5px);
}

.grid article:hover .title {
    z-index: 1;
    opacity: .8;
}

.worksBg {
    background-color: var(--dark);
    margin: .2rem;
    opacity: .8;
}

.skillsBg li {
    background-color: var(--dark);
    border: .1rem solid var(--purple);
}

.skillsBg ul li {
    border: none;
}

/************footer***********************/

footer {
    height: 12rem;
    font-size: 12px;
    width: 100vw;
}

.message {
    color: var(--blue);
    text-align: right;
    padding-top: 2rem;
}

/*************************MEDIAQUERIES****************************************/

/* ********************** VERSION TABLETTE*800px*************************** */

@media screen and (max-width:800px) {
    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
        transition: transform .3s;
        background-color: var(--dark);
    }


    .nav-list li {
        margin: 1rem 0;
        padding-left: 0;
    }
    .nav-list li a {
        padding: 1.5rem 2rem;
        display: inline-block;
        font-size: 2rem;
        transition: all .3s;
    }

    .nav-list li i {
        padding: .5rem;
    }


    .nav-list li i:hover {
        padding: .5rem;
        background-color: #fff;
        border-radius: 10rem;
        color: var(--dark);
        transform: translateY(-1rem);
    }

    .burger {
        display: block;
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        z-index: 9999;

    }
    /*Premiere ligne*/
    .burger .bar {
        display: inline-block;
        width: 3rem;
        height: .2rem;
        background-color: #fff;
        position: relative;
        transition: all .3s;
    }
    /*deux autres ligne*/
    .burger .bar::before,
    .burger .bar::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: all .3s;
    }
    .burger .bar::before {
        transform: translateY(-1rem);
    }
    .burger .bar::after {
        transform: translateY(1rem);
    }

    /*croix*/
    #burger-toggle:checked~.nav-list {
        transform: translateX(-0);
        height: 100vh;
        background-color: var(--dark);
        opacity: 1 !important;
        z-index: 998;
    }

    #burger-toggle:checked~.burger,
    #burger-toggle:checked~.burger .bar,
    #burger-toggle:checked~.nav-list li a {
        background-color: transparent;
        z-index: 999;
    }

    #burger-toggle:checked~.burger .bar::before {
        transform: rotate(45deg);
    }

    #burger-toggle:checked~.burger .bar::after {
        transform: rotate(-45deg);
    }

    .skills {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .skills li {
        width: 100%;
    }
}


/* ********************** VERSION Mobile*400px*************************** */

@media screen and (max-width: 400px) {
    header nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button {
        width: 100%;
    }
}


/*************************** Appliquer le style général des avis***********************************/
.alignh2{
    text-align: center;
}
#tr-container{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    margin: 50px;
}
/* Appliquer le style à l'intérieur du commentaire gris*/
.inner-tr-container {
    width: 350px;
    padding: 10px;
    margin: 5px;
    height: auto;
    background: #9797971a;
    border: 1px solid #e8e8e1;
}

/* Appliquer le style aux étoiles */
.stars-block{
    display: flex;
    align-items: center;
    justify-content: center;
}
.svg-star {
    width: 150px;
    padding-right: 15px;
}

/* Appliquer le style au texte à côté des étoiles */
.inner-text {
width: 80%;
    color: #bdbcbc;
    font-size: 11px;
}


.title-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.subtext-block {
    margin-bottom: 10px;
font-size: 12px;
}

.author-block {
    margin-bottom: 10px;
font-size: 13px;
}

.malt-img{
width:30px;
height:30px;
}

.height-for-comment{
    height: 400px;
}

.main-height-for-comment{
    height: 450px;
}

@media screen and (max-width:950px) {
    #tr-container{
        margin: 50px auto;
    }
.inner-tr-container {
    width: 300px;
}
}
@media screen and (max-width:750px) {
    #tr-container{
        flex-wrap: wrap;
    }
    .inner-tr-container {
        width: 30%;
    }
    .height-for-comment{
        height: 500px;
    }
    
    .main-height-for-comment{
        height: 560px;
    }
    }
@media screen and (max-width:600px) {
    #tr-container{
        flex-direction: column;
    }
    .inner-tr-container {
        width: 80%;
        height: auto;
        margin: 10px auto;
    }
}


/*STYLE DU SLIDER*/

.slider img{
    height: 100%;
    width: 100%;
    max-width: 800px;
    object-fit: contain;
    object-position: top;
    margin: 3rem auto;
}

.slider-nav img {
    width: 50%;
}

/*Style des fleches du slider*/
.slick-prev::before,
.slick-next::before {
    font-size: 3rem;
    color: var(--white);
    opacity: 1;
}

.slick-prev {
    left: 1rem;
    z-index: 1;
}

.slick-next {
    right: 3rem;
    z-index: 1;
}

/* Changement de la couleur lors du survol */
.slick-prev:hover::before,
.slick-next:hover::before {
    color: var(--lightPurple);
}

/* Changement de la couleur lors du focus */
.slick-prev:focus::before,
.slick-next:focus::before {
    color: var(--lightPurple);
}

/* style des dots */
.slick-dots {
    bottom: -4rem;
}

.slick-dots li button:before {
    font-size: 1.5rem;
    color: var(--white) !important;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    font-size: 1.5rem;
    color: var(--lightPurple) !important;
    opacity: 1;
}
/*suppression des fleches du slider en format mobile / tablette*/
@media screen and (max-width:600px) {
    .slick-prev::before,
.slick-next::before, .slick-prev, .slick-next {
    display: none;
}
}
